<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsBot - Noticias de Ciberseguridad</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="container">
            <a href="#inicio">NewsBot</a>
        </div>
    </nav>

    <!-- Sección Hero -->
    <header class="hero" id="inicio">
        <div class="container">
            <p>Noticias de ciberseguridad actualizadas en tiempo real.</p>
        </div>
    </header>

    <!-- Sección de Noticias -->
    <section class="noticias" id="noticias">
        <div class="container">
            <div id="noticiasIniciales">
                {% for noticia in noticias[:13] %}
                <div class="noticia">
                    <img src="{{ noticia['urlToImage'] or 'default-thumbnail.jpg' }}" alt="Imagen de la noticia" class="noticia-img">
                    <div>
                        <h3>{{ noticia['titulo'] }}</h3>
                        <p>{{ noticia['descripcion'] }}</p>
                        <p><strong>Publicado el:</strong> {{ noticia['fecha_publicacion'] }}</p>
                        <a href="{{ noticia['url'] }}" target="_blank" class="leer-mas">Leer más</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="noticiasAdicionales" style="display: none;">
                {% for noticia in noticias[5:] %}
                <div class="noticia">
                    <img src="{{ noticia['urlToImage'] or 'default-thumbnail.jpg' }}" alt="Imagen de la noticia" class="noticia-img">
                    <div>
                        <h3>{{ noticia['titulo'] }}</h3>
                        <p>{{ noticia['descripcion'] }}</p>
                        <p><strong>Publicado el:</strong> {{ noticia['fecha_publicacion'] }}</p>
                        <a href="{{ noticia['url'] }}" target="_blank" class="leer-mas">Leer más</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Pie de Página -->
    <footer>
        <div class="container">
            <p>&copy; 2024 NewsBot. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script>
        document.getElementById('verMasBtn').addEventListener('click', function () {
            document.getElementById('noticiasAdicionales').style.display = 'block';
            this.style.display = 'none';
        });
    </script>
</body>

</html>
